@font-face {
    font-family: "freeland";
    src:url("@font-face/freeland.woff") format("woff"),
        url("@font-face/freeland.woff2") format("woff2"),
        url("@font-face/freeland.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: Merriweather;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid #065613;
    padding: 1rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: white;
}
.back-to-top:hover {
    font-size: 1.25rem;
}



.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #065613;
}

.header h1 {
    font-family: "freeland";
    color: #065613;
    font-size: 9rem;
    margin: 0;
}

.logo {
    height: 10rem;
    padding-left: 2rem;
}
.a-t-logo {
    height: 4rem;
    padding: 0 2rem;
}
.facebook-logo {
    height: 4rem;
    padding: 0 2rem;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #065613;
    position: sticky;
    top: 0;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("images/banner-image.jpg");
    background-size: cover;
    height: 550px;
}

.about-text {
    background-color: white;
    opacity: 0.9;
    width: 70%;
    text-align: center;
    line-height: 1.5;
}

.meet-us {
    text-align: center;
    background-color: #e7fdeb;
}

.meet-us h2 {
    font-family: "freeland";
    font-size: 7rem;
    color: #065613;
    margin-top: 0;
    padding-top: 6rem;
}

.meet-us img {
    width: 50%;
    height: auto;
    padding-bottom: 2rem;
}

.meet-us p {
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.top {
    position: fixed;
    right: 0;
    bottom: 0;
    color: black;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #065613;
    border-radius: 5px;
}

.what-we-offer {
    text-align: center;
}

.what-we-offer h2 {
    font-family: "freeland";
    font-size: 7rem;
    color: #065613;
    margin-top: 0;
    padding-top: 6rem;
}

.what-we-offer h3 {
    font-family: "freeland";
    font-size: 3rem;
    padding-top: 3rem;
    margin-bottom: 1rem;
    color: #065613;
}

.what-we-offer p {
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
}

.price-list {
    width: 35%;
    margin: 0 auto;
    font-size: 1.25rem;
}

.price-list tr {
    border-radius: 50px;
    background-color: white;
    border: 5px;
}

.price-list th,
.price-list td {
    padding: 0.5rem 0;
}
/*.price-list th, td {
    border: 1px solid #065613;
}*/

.price-list-info {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.price-list-section {
    background-color: #e7fdeb;
}

.gallery h2 {
    font-family: "freeland";
    font-size: 7rem;
    color: #065613;
    margin-top: 0;
    padding-top: 6rem;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    row-gap: 2rem;
}

.gallery-container img {
   width: 30%;
   height: auto;
   object-fit: cover;
}

.contact {
    text-align: center;
    background-color: #e7fdeb;
    border-bottom: 1px solid #065613;
    padding-bottom: 3rem;
}

.contact h2 {
    font-family: "freeland";
    font-size: 7rem;
    color: #065613;
    margin-top: 0;
    padding-top: 6rem;
}

.contact p {
    line-height: 1.5;
    /*width: 70%;
    margin: 0 auto;*/
    padding-bottom: 3rem;
}

.contact a {
    line-height: 1.5;
    color: black;
    text-decoration: none;
}

.contact a:hover {
    font-weight: bold;
}

.contact span {
    font-weight: bold;
}

.contact .contact-info {
    padding-bottom: 1rem;
}

.contact .mobile-links {
    display: none;
}

footer {
    text-align: center;
    font-weight: bold;
    padding: 3rem 0;
    font-size: 1.25rem;
}

@media only screen and (max-width:640px) {
    .links {
        display: none;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .header h1 {
        font-size: 5rem;
    }
    .about-text {
        width: 95%;
    }
    .meet-us h2 {
        font-size: 3rem;
    }
    .meet-us img {
        width: 95%
    }
    .what-we-offer h2 {
        font-size: 3rem;
    }
    .price-list {
        width: 95%;
    }
    .gallery h2 {
        font-size: 3rem;
    }
    .gallery-container img {
        width: 95%;
        max-height: 15rem;
    }
    .contact h2 {
        font-size: 3rem;
    }
    .contact .mobile-links {
        display: block;
        padding-bottom: 2rem;
        margin-top: 3rem;
    }
}


